packages: [
  "atom-clock"
  "autocomplete-python"
  "click-link"
  "file-icons"
  "highlight-selected"
  "language-matlab-octave"
  "language-scala"
  "markdown-preview-plus"
  "minimap"
  "minimap-highlight-selected"
  "open-in-browser"
  "package-sync"
  "pigments"
  "scala-worksheet-plus"
  "vim-mode"
]
